[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[packages]
Flask = "==1.1.2"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
firebase-admin = "*"
bcrypt = "*"
pillow = "*"
numpy = "*"
piexif = "*"
cryptography = "*"

[requires]
python_version = "3.9"
